<!DOCTYPE html>
<html>
<head>


<script type="text/javascript"
	src="./webjars/angularjs/1.6.6/angular.js"></script>
<script type="text/javascript"
	src="./webjars/angularjs/1.6.6/angular-resource.min.js"></script>
<script src="./js/controller.js"></script>
<script src="./webjars/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="./webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
<script src="./webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./webjars/jquery-ui/1.12.1/jquery-ui.css">

<script src="./webjars/jquery-ui/1.12.1/jquery-ui.theme.css"></script>
<script src="./webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
<script src="./js/jquery.js">
	
</script>
<title>Todo App</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body ng-app="app">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Task Management To-do list</a>
			</div>

			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="#">Login</a></li>

			</ul>
		</div>
	</nav>
	<div id="ct" ng-controller="ctrl" ng-init="refresh('normal')">

		<div class="container-wrapper">
			<div class="container">

				<label>Add Task</label>
				<!-- Trigger the modal with a button -->

				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#myModal">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				<br> <br>
				<button id="fbutton" type="button" class="btn btn-inf btn-sm">
					<span class="glyphicon glyphicon-filter"></span> Filter
				</button>
				<br> <br>
				<div class="container" id="filter">
					<div class="btn-group">
						<button type="button" class="btn btn-primary"
							ng-click="filter('Personal')">Personal</button>
						<button type="button" class="btn btn-primary"
							ng-click="filter('Work')">Work</button>
						<button type="button" class="btn btn-primary"
							ng-click="filter('Shopping')">Shopping</button>
						<button type="button" class="btn btn-primary"
							ng-click="filter('Others')">Others</button>
					</div>
					</br> </br> <input type="text" class="form-control" id="pwd"
						placeholder="Search" ng-model="searchtxt">
				</div>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Todo Details</h4>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="username">Task: </label> <input type="text"
											id="username" name="username" class="form-control"
											ng-model="task" />
									</div>

									<div class="form-group">
										<label for="username">Todo Date: </label> <input type="text"
											id="datepicker1" class="form-control" ng-model="tododate">
									</div>


									<div class="form-group">
										<label for="username">Due Date: </label> <input type="text"
											id="datepicker2" name="duedate" class="form-control"
											ng-model="duedate" />
									</div>
									<div class="form-group">
										<label for="username">Status: </label> <select
											class="form-control" ng-model="status">
											<option value="New">New</option>
											<option value="In Progress">In Progress</option>
											<option value="Done">Done</option>
										</select>
									</div>

									<div class="form-group">
										<label for="username">Type: </label> <select
											class="form-control" ng-model="type">
											<option value="Personal">Personal</option>
											<option value="Work">Work</option>
											<option value="Shopping">Shopping</option>
											<option value="Others">Others</option>
										</select>
									</div>


								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" ng-click="add()"
									data-dismiss="modal">Add</button>
							</div>
						</div>
					</div>
				</div>

				<h4>Todo List</h4>
				<table class="table">
					<tr>
						<th align="left" width="60%"></th>
						<th align="left" width="10%">Due Date</th>
						<th align="left" width="10%">Status</th>
						<th  align="left" width="7%"></th>
						<th align="left" width="7%"></th>
					</tr>
					<table class="table" data-ng-repeat="row in todoItem">

						<tr>
							<td colspan="3">{{row.todoDate}}</td>
						</tr>

						<tbody class="tbody">
							<tr 
								data-ng-repeat="col in row.todoList   | filter:searchtxt">
								<td id={{col.taskName}} align="left" width="60%">{{col.taskName}}</td>
								<td align="left" width="10%">{{col.dueDate}}</td>
								<td class="st" align="left" width="10%">{{col.status}}</td>
								<td class="edit" align="left" width="5%">
								
								<button id={{col.taskName}} class="bbt" >
									<span class="glyphicon glyphicon-pencil" style="color:red">Edit</span>
								</button>
								</td>
								<td align="left" class="update" width="2%">
								<button >
									<span class="glyphicon glyphicon-ok" style="color:green">UPDATE</span>
								</button>
								
								</td>
							</tr>
						</tbody>



						</tr>
					</table>

				</table>
				<input id="hid" type="text" value="hi">
			</div>
		</div>


	</div>
</body>



</html>
